<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilosAgregarProducto.css">
</head>
<body>
    <header>
        <label for="">Nombre Tienda</label>
        <a href="/ingresoALasTiendas">Volver a la tienda</a>
        <a href="/"class="cerrarsesion">Cerrar sesion</a>
    </header>
    
    <center><h1>Agregar Producto</h1></center>
    <br>
    <br>
    <br>
<!--Productos-->
    
<div class="contenedorProducto">

    <div class="agregarImagen"> 
        <input class="input" type="submit" value="Agregar una imagen">
    </div>
    <input type="text" class="nombre" placeholder="nombre del producto">
    <input type="text" class="precio" placeholder="Precio">
    <input type="text" class="descripcion" placeholder="Descripcion del producto">
    <select class="categoria" name="categoria" id="">
        <option value="categoriaPordefecto">Categoria</option>
        <option value="categoriax">categoriax</option>
    </select>
    <select class="domicilio" name="domicilio" id="">
        <option value="domicilioTrue">Con Domicilio</option>
        <option value="domicilio">Sin Domicilio</option>
    </select>
    <input class="botons" type="submit" value="Registrar">
</div>

<!-- footer-->
<br>
<br>
<br>
<footer class="footer">
    <br><br>
    <div class="basico">
    <a href="" class="contactanos">Contactanos</a>
    <a href="" class="cobertura">Cobertura</a>
    <a href="" class="preguntas">Preguntas frecuentes</a>
    </div>

    <div class="redes">
    <!-- #region 

</div>
-->
</div>
<br>
<br>
<div class="subpie">
    <a href="" class="terminos">Terminos y condiciones</a>
    <div class="contactoDesarrollador">
       <!-- #region  <img src="/img/github.png" alt="" class="iconos github">-->
        <a href="">Contacta al desarrollador</a>
        <br>
    
</div>
</div>
</footer>

</body>
</html>