<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de tienda</title>
    <link rel="stylesheet" href="css/estilosRegistroTienda.css">
</head>
<body>
    <header>
        <label for="">Nombre propietario</label>
        
        <a href="/vistapropietario">Administrar Tiendas</a>
        <a href="/tablastiendas">Ver estadisticas</a>
        <a href="/"class="cerrarsesion">Cerrar sesion</a>
    </header>

 

 <!-- formulario de registro-->


<!-- #region <section class="form-register">-->
    <form action=""class="form-register">
        <h4>Registro de Tiendas</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese el nombre de su tienda">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese una descripcion de su tienda">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su direccion">
        
        <input class="controls" type="text" name="correo" id="correo" placeholder="Ingrese un numero de telefono">
        <!--
        <div class="select">
          
          <select>
            <option value="">Seleccione su Rol</option>
            <option value="opcion-1">Propietario de MIPYME</option>
            <option value="opcion-2">Comprador</option>
            
          </select>
        </div>
        -->
        <button class="adjuntarImagen">adjunte una imagen</button>
      
      <!--  <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">-->
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input class="botons" type="submit" value="Registrar">
        <!--<p><a href="/iniciarsesion">Ya tengo Cuenta</a></p>-->
      </form>
      <!-- #region </section>-->
      
      
      <!-- footer-->
      <br>
      <br>
      <br>
      <footer class="footer">
          <br><br>
          <div class="basico">
          <a href="" class="contactanos">Contactanos</a>
          <a href="" class="cobertura">Cobertura</a>
          <a href="" class="preguntas">Preguntas frecuentes</a>
          </div>
      
          <div class="redes">
          <!-- #region 
          <div class="contenidoredes">
          <div class="face"><img src="/img/facebook.png" alt="" class=" iconos facebook"></div>
          <div class="insta"><img src="/img/instagram.png" alt="" class=" iconos instagram"></div>
          <div class="twi"><img src="/img/twitter.png" alt="" class=" iconos twitter"></div>
          <div class="wha"><img src="/img/whatsapp.png" alt="" class=" iconos whatsapp"></div>
      </div>
      -->
      </div>
      <br>
      <br>
      <div class="subpie">
          <a href="" class="terminos">Terminos y condiciones</a>
          <div class="contactoDesarrollador">
             <!-- #region  <img src="/img/github.png" alt="" class="iconos github">-->
              <a href="">Contacta al desarrollador</a>
              <br>
          
      </div>
      </div>
      </footer>
      
      
        </body>
      </html>
      
</body>
</html>