

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>inicio de sesion</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/registrarse.css" />
  </head>
  <body>
      <div class="head">
          <div class="logo">logo</div>
    <div class="buscar">
      <input type="text" placeholder="Buscar" required />

      <div class="btn">
        <i class="fas fa-search icon"></i>
      </div>
    </div>
    <div class="volver"><a href="/">volver</a></div>
</div>

<!-- formulario de registro-->


<!-- #region <section class="form-register">-->
  <form action=""class="form-register">
  <h4>Formulario Registro</h4>
  <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
  <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
  <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
  
  <div class="select">
    <select>
      <option value="">Seleccione su Rol</option>
      <option value="opcion-1">Propietario de MIPYME</option>
      <option value="opcion-2">Comprador</option>
      
    </select>
  </div>

  <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
  <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
  <input class="botons" type="submit" value="Registrar">
  <p><a href="/iniciarsesion">Ya tengo Cuenta</a></p>
</form>
<!-- #region </section>-->


<!-- footer-->
<br>
<br>
<br>
<footer class="footer">
    <br><br>
    <div class="basico">
    <a href="" class="contactanos">Contactanos</a>
    <a href="" class="cobertura">Cobertura</a>
    <a href="" class="preguntas">Preguntas frecuentes</a>
    </div>

    <div class="redes">
    <!-- #region 
    <div class="contenidoredes">
    <div class="face"><img src="/img/facebook.png" alt="" class=" iconos facebook"></div>
    <div class="insta"><img src="/img/instagram.png" alt="" class=" iconos instagram"></div>
    <div class="twi"><img src="/img/twitter.png" alt="" class=" iconos twitter"></div>
    <div class="wha"><img src="/img/whatsapp.png" alt="" class=" iconos whatsapp"></div>
</div>
-->
</div>
<br>
<br>
<div class="subpie">
    <a href="" class="terminos">Terminos y condiciones</a>
    <div class="contactoDesarrollador">
       <!-- #region  <img src="/img/github.png" alt="" class="iconos github">-->
        <a href="">Contacta al desarrollador</a>
        <br>
    
</div>
</div>
</footer>


  </body>
</html>
