<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tablas</title>
    <link rel="stylesheet" href="/css/vistausuario.css">
    <link rel="stylesheet" href="/css/vistatienda.css">
</head>
<body>
    
    <header>
        <header>
            <label for="">Nombre propietario</label>
            <a href="/RegistrarTienda">Registrar una nueva tienda</a>
            <a href="/vistapropietario">Administrar Tiendas</a>
            
            <a href="/"class="cerrarsesion">Cerrar sesion</a>
        </header>
    <div class="cuerpo">
    <div class="ventas">
        <table>
            <center>     <h2>Compras</h2></center>
			<thead>
				<tr>
					<th>Codigo Compra</th><th>Tienda</th><th>Fecha</th><th>Costo</th>
				</tr>
			</thead>

			<tr>
				<td>1</td><td>tiendax</td><td>fechax</td><td>Costo</td>
			</tr>
            <tr>
				<td>2</td><td>tiendax</td><td>fechax</td><td>Costo</td>
			</tr>
            <tr>
				<td>3</td><td>tiendax</td><td>fechax</td><td>Costo</td>
			</tr>
            <tr>
				<td>4</td><td>tiendax</td><td>fechax</td><td>Costo</td>
			</tr>
		</table>
    </div>
    <div class="productos">
        <table>
       <center>     <h2>Tiendas favoritas</h2></center>
			<thead>
				<tr>
					<th>Codigo</th><th>Nombre</th><th>Descripción</th><th>total Compras</th><th>Categoria</th><th>total invertido</th>
				</tr>
			</thead>

			<tr>
				<td>1</td><td>tiendax</td><td>Descripcion 1</td><td> 1</td> <td>Categoria 1</td><td>inversion1</td>
			</tr>
            <tr>
				<td>2</td><td>tiendax</td><td>Descripcion 2</td><td> 2</td> <td>Categoria 2</td><td>inversion2</td>
			</tr>
            <tr>
				<td>3</td><td>tiendax</td><td>Descripcion 3</td><td> 3</td> <td>Categoria 3</td><td>inversion3</td>
			</tr>

			
		</table>
    </div>
</div>

<!-- footer-->
<br>
<br>
<br>
<footer class="footer">
    <br><br>
    <div class="basico">
    <a href="" class="contactanos">Contactanos</a>
    <a href="" class="cobertura">Cobertura</a>
    <a href="" class="preguntas">Preguntas frecuentes</a>
    </div>
    <div class="redes">
</div>
<br>
<br>
<div class="subpie">
    <a href="" class="terminos">Terminos y condiciones</a>
    <div class="contactoDesarrollador">
        <a href="">Contacta al desarrollador</a>
        <br>
</div>
</div>
</footer>
</body>
</html>