<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilosTienda.css">
</head>
<body>
    <header>
        <label for="">Nombre Tienda</label>
        <a href="/agregarProducto">Agregar Productos</a>
        <a href="/vistapropietario">Volver</a>
        <a href="/estadisticaTienda">Ver estadisticas</a>
        <a href="/"class="cerrarsesion">Cerrar sesion</a>
    </header>
    
    <center><h1>Todos los productos de la tienda</h1></center>
<!--Productos-->
<div class="productosdestacados">
    <div class="producto productoindividual1">
       <center> <h2>Nombre del producto</h2></center>
        <center>  <img src="/img/pollo.png" alt=""></center> <br>
        <center><label for="">Precio</label></center>
        <center><label for="">Descripcion</label></center>
    </div>
    <div class="producto productoindividual2">
        <center> <h2>Nombre del producto</h2></center>
         <center>  <img src="/img/pollo.png" alt=""></center> <br>
         <center><label for="">Precio</label></center>
         <center><label for="">Descripcion</label></center>
     </div>
     <div class="producto productoindividual3">
        <center> <h2>Nombre del producto</h2></center>
         <center>  <img src="/img/pollo.png" alt=""></center> <br>
         <center><label for="">Precio</label></center>
         <center><label for="">Descripcion</label></center>
     </div>
     <div class="producto productoindividual4">
        <center> <h2>Nombre del producto</h2></center>
         <center>  <img src="/img/pollo.png" alt=""></center> <br>
         <center><label for="">Precio</label></center>
         <center><label for="">Descripcion</label></center>
     </div>
     <div class="producto productoindividual5">
        <center> <h2>Nombre del producto</h2></center>
         <center>  <img src="/img/pollo.png" alt=""></center> <br>
         <center><label for="">Precio</label></center>
         <center><label for="">Descripcion</label></center>
     </div>
     <div class="producto productoindividual6">
         <center> <h2>Nombre del producto</h2></center>
          <center>  <img src="/img/pollo.png" alt=""></center> <br>
          <center><label for="">Precio</label></center>
          <center><label for="">Descripcion</label></center>
      </div>
      <div class="producto productoindividual7">
         <center> <h2>Nombre del producto</h2></center>
          <center>  <img src="/img/pollo.png" alt=""></center> <br>
          <center><label for="">Precio</label></center>
          <center><label for="">Descripcion</label></center>
      </div>
      <div class="producto productoindividual8">
         <center> <h2>Nombre del producto</h2></center>
          <center>  <img src="/img/pollo.png" alt=""></center> <br>
          <center><label for="">Precio</label></center>
          <center><label for="">Descripcion</label></center>
      </div>
 
</div>



    
<!-- footer-->
<br>
<br>
<br>
<footer class="footer">
    <br><br>
    <div class="basico">
    <a href="" class="contactanos">Contactanos</a>
    <a href="" class="cobertura">Cobertura</a>
    <a href="" class="preguntas">Preguntas frecuentes</a>
    </div>

    <div class="redes">
    <!-- #region 

</div>
-->
</div>
<br>
<br>
<div class="subpie">
    <a href="" class="terminos">Terminos y condiciones</a>
    <div class="contactoDesarrollador">
       <!-- #region  <img src="/img/github.png" alt="" class="iconos github">-->
        <a href="">Contacta al desarrollador</a>
        <br>
    
</div>
</div>
</footer>

</body>
</html>