<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiendas</title>
    <link rel="stylesheet" href="css/administrarCompras.css">
    <link rel="stylesheet" href="/css/distribucionTiendas.css">
    <link rel="stylesheet" href="/css/buscador.css">
</head>
<body>

    
    <header>
        <label for="">Nombre Comprador</label>    
        <a href="/misCompras">Administrar mis compras</a>
           
        <a href="/"class="cerrarsesion">Cerrar sesion</a>
</header>


<!-- buscador-->
<div class="buscador">
    <form action="" method="post">
    <select name="categoria" id="">
        <option value="todas">Solo mis tiendas favoritas</option>
        <option value="categiroax">todas las tiendas</option>
    </select>
    <select name="tienda"  id="">
        <option value="todas">Tiendas de mi zona</option>
        <option value="tiendax">cualquier ubicacion</option>
    </select>
    
    <select name="domicilio" id="">
        <option value="conDomicilio"> Con domicilio</option>
        <option value="sinDomicilio"> Sin domicilio</option>
    </select>
    <input type="button" value="filtrar">
    </form>
</div>
<br>
<br>

<div class="tiendaslistado">
    <div class="tiendadesdevista">
        <img class="img" src="img/tienda.png" alt="" srcset="">
        <label class="name" for="">Nombre de la tienda</label>
        <label class="desc" for="">descripcion de la tienda</label>
        <label class="enlace" for=""><a href="/ingresoALasTiendas">ingrese a la tienda por aqui</a></label>
    </div>
</div>
<div class="linea">
</div>
<div class="tiendaslistado">
    <div class="tiendadesdevista">
        <img class="img" src="img/tienda.png" alt="" srcset="">
        <label class="name" for="">Nombre de la tienda</label>
        <label class="desc" for="">descripcion de la tienda</label>
        <label class="enlace" for=""><a href="/ingresoALasTiendas">ingrese a la tienda por aqui</a></label>
    </div>
</div>
<div class="linea">
</div>
<div class="tiendaslistado">
    <div class="tiendadesdevista">
        <img class="img" src="img/tienda.png" alt="" srcset="">
        <label class="name" for="">Nombre de la tienda</label>
        <label class="desc" for="">descripcion de la tienda</label>
        <label class="enlace" for=""><a href="/ingresoALasTiendas">ingrese a la tienda por aqui</a></label>
    </div>
</div>
<div class="linea">
</div>


    
<!-- footer-->
<br>
<br>
<br>
<footer class="footer">
    <br><br>
    <div class="basico">
    <a href="" class="contactanos">Contactanos</a>
    <a href="" class="cobertura">Cobertura</a>
    <a href="" class="preguntas">Preguntas frecuentes</a>
    </div>
    <div class="redes">
</div>
<br>
<br>
<div class="subpie">
    <a href="" class="terminos">Terminos y condiciones</a>
    <div class="contactoDesarrollador">
        <a href="">Contacta al desarrollador</a>
        <br>
</body>
</html>