<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi tienda</title>
    <link rel="stylesheet" href="/css/vistatienda.css">
    <link rel="stylesheet" href="/css/distribucionTiendas.css">

    
</head>
<body>
    
    

<div class="icono-menu">
    <img src="img/menu.png" id="icono-menu">
    
        <li class="item-horizontal"><a href="#">Mi Perfil</a>
            <ul class="children">
                <li class="sub-items"><a href="#">Administrar Perfil</a></li>
                <li class="sub-items"><a href="#">Salir</a></li>
                
            </ul>
        </li>
    
</div>

<div class="cont-menu active" id="menu">
    <ul>
        <li> Home </li>
        <p class="linea"></p>
        <li> About </li>
        <p class="linea"></p>
        <li> Info </li>
        <p class="linea"></p>
        <li> Contact </li>
        <p class="linea"></p>
        <li> Show me more </li>
        <li class="salir"><img src="img/salir4.png" alt="" height="30px" width="30px"> Salir</li>
    </ul>
</div>
<div class="content-main">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora!</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quas eius ipsam magni nulla ea voluptates consequatur enim possimus magnam eveniet, sint eum nam, beatae nisi aliquid in alias. Sequi eaque sit voluptatibus maiores praesentium voluptas inventore placeat, ut iure, architecto molestias facere, voluptatum consequatur aspernatur reprehenderit qui vero nemo?</p>
</div>

<script src="js/vistapropietario.js"></script>



</body>
</html>

