<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi tienda</title>
    <link rel="stylesheet" href="/css/vistatienda.css">
    <link rel="stylesheet" href="/css/distribucionTiendas.css">
</head>
<body>
    
    <header>
        <ul>
            <li><a href="#">LoGo</a></li>
            <li><a href="#">MERKAWEB</a></li>
                <li><a href="/RegistrarTienda">Registrar una nueva Tienda</a></li>
            <li><a href="/tablastiendas">Ver Estadisticas</a></li>
            <li><a href="#">Mi Perfil</a>
                <ul class="children">
                    <li class="sub-items"><a href="#">Administrar Perfil</a></li>
                    <li class="sub-items"><a href="/">Cerrar Sesión <img src="img/cerrar-sesion.png" alt="" height="40px" width="40px"</a></li>
                    
                </ul>
            </li>
            
            
        </ul>
        <!--<label for="">LoGo</label>
        <label for="">MERKAWEB</label>
        <a href="/RegistrarTienda">Registrar una nueva tienda</a>
        <a href="/tablastiendas">Ver estadisticas</a>
        <a href="/"class="cerrarsesion">Salir <img src="img/cerrar-sesion.png" alt="" height="40px" width="40px"></a>-->
    </header>
    <!-- #region <div class="cuerpo">-->
<center><h1>Todas tus tiendas</h1></center>
<h2>cambio hecho por yoan</h2>
<h3>que tal</h3>
<br><br>
        <div class="tiendaslistado">
            <div class="tiendadesdevista">
                <img class="img" src="img/tienda.png" alt="" srcset="">
                <label class="name" for="">Nombre de la tienda</label>
                <label class="desc" for="">descripcion de la tienda</label>
                <label class="enlace" for=""><a href="/ingresoALasTiendas">ingrese a su tienda por aqui</a></label>
            </div>
        </div>
        <div class="linea">
        </div>
        <div class="tiendaslistado">
            <div class="tiendadesdevista">
                <img class="img" src="img/tienda.png" alt="" srcset="">
                <label class="name" for="">Nombre de la tienda</label>
                <label class="desc" for="">descripcion de la tienda</label>
                <label class="enlace" for=""><a href="/ingresoALasTiendas">ingrese a su tienda por aqui</a></label>
            </div>
        </div>
        <div class="linea">
        </div>
        <div class="tiendaslistado">
            <div class="tiendadesdevista">
                <img class="img" src="img/tienda.png" alt="" srcset="">
                <label class="name" for="">Nombre de la tienda</label>
                <label class="desc" for="">descripcion de la tienda</label>
                <label class="enlace" for=""><a href="/ingresoALasTiendas">ingrese a su tienda por aqui</a></label>
            </div>
        </div>
        <div class="linea">
        </div>
        <!-- #region 
    </div>
-->



<!-- footer-->
<br>
<br>
<br>
<footer class="footer">
    <br><br>
    <div class="basico">
    <a href="" class="contactanos">Contactanos</a>
    <a href="" class="cobertura">Cobertura</a>
    <a href="" class="preguntas">Preguntas frecuentes</a>
    </div>

    <div class="redes">
    <!-- #region 

</div>
-->
</div>
<br>
<br>
<div class="subpie">
    <a href="" class="terminos">Terminos y condiciones</a>
    <div class="contactoDesarrollador">
       <!-- #region  <img src="/img/github.png" alt="" class="iconos github">-->
        <a href="">Contacta al desarrollador</a>
        <br>
    
</div>
</div>
</footer>



</body>
</html>