<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi tienda</title>
</head>
<body>
    
    <header>
        
        <label for="">Nombre tienda</label>
        
        
            <a href="/ventas">Administrar ventas</a>
        
        
            <a href="/productos">Administrar Productos</a>
        
        <a href=""class="cerrarsesion">Cerrar sesion</a>
    </header>

</body>
</html>