* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
header{
    background: linear-gradient(rgb(208,0,111), rgb(222,20,120));
    height: 100px;
    margin-bottom: 50px;
    
}
header a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid white;
}
header label{
    font-size: 1.2em;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid white;
}




/*Productos*/
.productosdestacados{
    margin-top: 30px;
    padding-top: 30px;
    height: auto;
    display: grid;
    grid-template: "empty  producto1 producto2 producto3 producto4 vacio " 335px
                   "empty1 producto5 producto6 producto7 producto8 vacio1" 335px/
                    1fr   2fr       2fr       2fr       2fr       1fr;
    background-color:  rgb(238, 238, 246)
}

.producto{
      background-color: rgb(250, 251, 252);
      width: 250px;
      height: 330px;
      border: solid 1px black;
      border-image: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(0,0,0) 100%) 1;
      transition: .3s;
}
.producto:hover{
      cursor: pointer;
      background-color: rgb(222, 222, 246);
      width: 255px;
      height: 335px;
}
.productoindividual1{
    grid-area: producto1;
    display: inline-block;
}
.productoindividual2{
    grid-area: producto2;
    display: inline-block;
}
.productoindividual3{
    grid-area: producto3;
    display: inline-block;
}
.productoindividual4{
    grid-area: producto4;
    display: inline-block;  
}
.productoindividual5{
    grid-area: producto5;
    display: inline-block;  
}
.productoindividual6{
    grid-area: producto6;
    display: inline-block;  
}
.productoindividual7{
    grid-area: producto7;
    display: inline-block;  
}
.productoindividual8{
    grid-area: producto8;
    display: inline-block;  
}
.producto img{
      width: 200px;
      height: 175px;
}






.footer{
    /* display: grid;*/
     background-color: rgb(80, 80, 80);
     
     height: 170px;
     margin-bottom: 15px;
     padding-bottom: 15px;
  
 }
 .basico{
     display: grid;
     grid-template: "empty contactanos cobertura preguntas vaciopues"auto/
                     1fr   1fr         1fr       1fr       1fr;
 }
 .footer a, .footer label{
     color: white;
     text-decoration: none;
     font-size: 1.2em;
 }
 
 .footer .iconos{
     display: inline-block;
     width: 30px;
     height: 30px;
 }
 .contactanos{
 grid-area: contactanos;
 }
 .cobertura{
 grid-area: cobertura;
 }
 .preguntas{
 grid-area: preguntas;
 }
 
 .contenidoredes{
     padding-left: 25px;
 }
 .redessociales{
 grid-area: redessociales;
 }
 .face{
 grid-area: facebook;
 }
 .insta{
 grid-area: instagram;
 }
 .twi{
 grid-area: twitter;
 }
 .wha{
 grid-area: whatsapp;
 }
 .terminos{
 grid-area: terminos;
 }
 .subpie{
     display: grid;
     grid-template: "vacio1 terminos   contactodesarrollador vacio "auto/
                     1fr    1fr        1fr                   1fr  ;
     
 }
 .contactoDesarrollador{
 grid-area:contactodesarrollador;
 }
 