* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
header{
    background: linear-gradient(rgb(208,0,111), rgb(222,20,120));
    height: 100px;
    margin-bottom: 50px;
    
}
header a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid white;
}
header label{
    font-size: 1.2em;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid white;
}



table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}










.footer{
    /* display: grid;*/
     background-color: rgb(80, 80, 80);
     
     height: 170px;
     margin-bottom: 15px;
     padding-bottom: 15px;
  
 }
 .basico{
     display: grid;
     grid-template: "empty contactanos cobertura preguntas vaciopues"auto/
                     1fr   1fr         1fr       1fr       1fr;
 }
 .footer a, .footer label{
     color: white;
     text-decoration: none;
     font-size: 1.2em;
 }
 
 .footer .iconos{
     display: inline-block;
     width: 30px;
     height: 30px;
 }
 .contactanos{
 grid-area: contactanos;
 }
 .cobertura{
 grid-area: cobertura;
 }
 .preguntas{
 grid-area: preguntas;
 }
 
 .contenidoredes{
     padding-left: 25px;
 }
 .redessociales{
 grid-area: redessociales;
 }
 .face{
 grid-area: facebook;
 }
 .insta{
 grid-area: instagram;
 }
 .twi{
 grid-area: twitter;
 }
 .wha{
 grid-area: whatsapp;
 }
 .terminos{
 grid-area: terminos;
 }
 .subpie{
     display: grid;
     grid-template: "vacio1 terminos   contactodesarrollador vacio "auto/
                     1fr    1fr        1fr                   1fr  ;
     
 }
 .contactoDesarrollador{
 grid-area:contactodesarrollador;
 }