*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}


.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
    background-color: rgb(172, 32, 32);
    margin: 0;
    height: 60px;
}

.icono-menu img{
    vertical-align: top;
    width: 30px;
    cursor: pointer;
}
img{
    margin-left: 50px;
    margin-top: 20px;
}


.cont-menu{
    background-color: rgb(172, 32, 32);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}


.active{
    transform: translate(-600px);
}


.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
}
.linea{
    border-bottom: 5px solid black;
    margin-left: 20px;
}
.content-main{

    position: relative;
    margin-left: 500px;
}
.salir{
    margin-top: 150px;
    
}
li {
    display: inline-block;
    padding: 20px;
    position: relative;
    transition: all .5s;
}
li:hover .children {
    display: block;
    position: absolute;
    width: 100px;
}
.children li {
    display: block;
    background-color: rgb(239,82,42);
    color: white;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(255,255,255,.5);
}
li .children {
    display: none;
    position: absolute;
    top: 101%;
}
.item-horizontal{
    margin-left: 1050px;
}